 * {
     font-family: cursive;

 }

 .tt {
     color: blue;
     font-style: oblique
 }

 #titre {
     color: green;
     font-family: inherit;
 }

 img {
     /*     display: block;*/
     float: right;
 }

 a:hover {
     color: blue;
 }

 #titre,
 .tt {
     color: brown;
 }

 @media screen and (max-width: 640px) {
     .non-mobile-content {
         display: none;
     }
 }
