html{
	background: #ada098;
}
body{
	background: white;
	margin: 50px;
	padding: 30px;
	box-shadow: 1px 1px 30px #333;
}
h1, h2, h3{
	color:  #625d5a;
}
input, textarea{
	margin-bottom: 10px;
}
@media screen and (max-width: 640px) {
	.non-mobile-content{
		display: none;
	}
}
#form-textarea{
	width: 250px;
	height: 100px;
}